In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('covid19.csv')

In [25]:
df

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

In [5]:
df.count()

Date         321
State        140
Region       321
Confirmed    321
Deaths       321
Recovered    321
dtype: int64

In [7]:
df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

# show the number of Confirmed, Deaths and Recovered cases in each Region

In [14]:
df.groupby('Region').sum().head(10)

                     Confirmed  Deaths  Recovered
Region
Afghanistan               1939      60        252
Albania                    766      30        455
Algeria                   3848     444       1702
Andorra                    743      42        423
Angola                      27       2          7
Antigua and Barbuda         24       3         11
Argentina                 4285     214       1192
Armenia                   1932      30        900
Australia                 6752      91       5715
Austria                  15402     580      12779

# remove all the records where Confirmed cases is less than 10

In [21]:
df = df[~(df.Confirmed<10)]

In [23]:
df

          Date     State          Region  Confirmed  Deaths  Recovered
0    4/29/2020       NaN     Afghanistan       1939      60        252
1    4/29/2020       NaN         Albania        766      30        455
2    4/29/2020       NaN         Algeria       3848     444       1702
3    4/29/2020       NaN         Andorra        743      42        423
4    4/29/2020       NaN          Angola         27       2          7
..         ...       ...             ...        ...     ...        ...
316  4/29/2020   Wyoming              US        545       7          0
317  4/29/2020  Xinjiang  Mainland China         76       3         73
318  4/29/2020     Yukon          Canada         11       0          0
319  4/29/2020    Yunnan  Mainland China        185       2        181
320  4/29/2020  Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

# in which Region, maximum number of Confirmed cases were recorded?

In [37]:
df.groupby('Region').Confirmed.sum().sort_values(ascending=False)

Region
US            1039909
Spain          236899
Italy          203591
France         166536
UK             166432
               ...
Seychelles         11
Burundi            11
Suriname           10
Gambia             10
Holy See           10
Name: Confirmed, Length: 180, dtype: int64

# in which Region, minximum number of Deaths cases were recorded?

In [38]:
df.groupby('Region').Deaths.sum().sort_values()

Region
Cambodia                        0
Seychelles                      0
Saint Lucia                     0
Central African Republic        0
Saint Kitts and Nevis           0
                            ...
France                      24121
Spain                       24275
UK                          26165
Italy                       27682
US                          60967
Name: Deaths, Length: 180, dtype: int64

# how many Confirmed, Deaths & Recovered cases were reported from India till 29 April 2020

In [39]:
df[df.Region=='India']

         Date State Region  Confirmed  Deaths  Recovered
74  4/29/2020   NaN  India      33062    1079       8437